manuscript/
archived/
*.7z
scripts/scripts.iml
~$*
*notes.txt
manuscript/author_info
bdsky/
figures/archived/
scripts/archived/
figures/swiss_sars_cov_2_bdsky_troubleshooting.pdf
figures/swiss_sars_cov_2_bdsky_troubleshooting.pptx
manuscript/variables_for_manuscript.tex
results_manuscript.zip
.idea
.Rhistory
.DS_Store
results_main
results_all
data/
notes.txt
